/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
main {
    overflow: hidden;
    height: 4605px;
}
/*common*/
.text {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #717171;
    
}
.text_des{    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #636060;

}
#welcome {
    height: 420px;
    top: 117px;
    flex-direction: row-reverse;
}

#leafs {
    width: 280px;
    height: 254.15px;
}

#leafs img{
    width: 280px;
    height: 254.15px;
}
#welcome1 {
    width: 346px;
    height: 310px;
}
#welcome1 .text {
    width: 341px;
    height: 101px;
}

#welcome1 .text_des {
    width: 341px;
    height: 105px;
    left:0;
    top: 143px;
}
#about {
    position: absolute;
    width : 100%;
    height: 783px;
    top: 537px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
#about_us {
    width: 668px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}
#about_us .head_text{
    width: 463px;
    height: 102px;
    margin: auto;
    text-align: center;
}

#about_us .text_des{
    width: 668px;
    height: 208px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    text-align: justify;
    padding-top: 20px;
    color: #636060;
}
#planthouse {
    width: 250px;
    height: 258px;
    margin: auto;
    padding-bottom: 45px;
}
#planthouse img{
    width: 250px;
    height: 258px;

}
#service {
    height: 1780px;
    top: 1320px;
}
#service_content{
    width: 668px;
    height: 184px;
    justify-content: space-around;
    flex-direction: column;
}
#service_btns {
    margin-left: 0;
    margin-bottom: 0;
    
}
#services {
    width: 668px;
    height: 1426px;
    margin-top: 0;
}

#price {
    height: 585px;
    top: 3100px;
}

#prices {
    height: 381.01px;
    margin: unset;
    margin-top: 40px;
}
#leaf_and_text {
    width: 296px;
    height: 233px;
    font-size: 25px;
    line-height: 35px;
    margin: unset;
    margin-top: 139px;
}
#contacts {
    height: 739px;
    top: 3685px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contacts .item1 {
    order: 3;
}
#contacts img {
    width: 200px;
    height: 248.49px;
    margin: auto;
    margin-bottom: 0;
}
#con_text {
    margin: auto;
}
#choose {
    margin: auto;
    margin-top: 0;
}
#choose img{
    height: 16px;
    width: 16px;
    margin: auto;
}
#footer {
    width: 100%;
    height: 181px;
    top: 4424px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;  
}
#footer_data {
    height: 24px;
    width: 210px;
    line-height: 24px;
    margin-top: 30px;
}

#footer .foot_text{
    width: 210px;
    height: 24px;
    margin-top: 5px;
}
#social_list {
    margin-top: unset;
    
}
}
